# vim backup files
.*.swp

# Object files
*.o
*.ko

# Library builds
*.so

# Intermediate files
*.mod
*.mod.c
.*.cmd

# Kernel symbols
Module.symvers
modules.order
.tmp_versions/*

# CUDA stuff
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

# Profiling stuff
*.prof
*.nvprof

# Ignore build directory
build/*

# Ignore cscope files
cscope.out
cscope.in.out
cscope.po.out
